  .mainContainer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 15px;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px
  }

  .input{
    font-family: 'Poppins';
    font-size: 13px;
    align-self: center;
    padding:0 10px;
    width: 200px;
    outline: 1px solid #e2e8f0;
    border-radius: 5px;
    height:30px;
    margin-bottom: 10px;  
}

@Media(min-width:600px){
  .mainContainer{
    display:grid;
    padding: 30px;
    padding-top: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .input{
    font-family: 'Poppins';
    font-size: 13px;
    align-self: center;
    padding:0 10px;
    width: 200px;
    outline: 1px solid #e2e8f0;
    border-radius: 5px;
    height:30px;
  }
}